setuptools>=69.0.3
build>=1.0.3
twine>=4.0.2

# Linting/Tooling
black>=24.1.1
isort>=5.13.2
mypy>=1.8.0
pre-commit>=3.6.0
ruff>=0.2.0
pyright>=1.1.349

# Testing
pytest>=8.0.0
codecov>=2.1.13
pytest-cov>=4.1.0
pytest-benchmark>=4.0.0

# Documentation
mkdocs>=1.5.3
mkdocstrings>=0.24.0
mkdocstrings[python]>=0.24.0
mkdocs-material>=9.5.7
Pygments>=2.16.1
freezegun>=1.4.0
types-requests>=2.31.0.20240125
